<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helloruiz.iuvo"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iuvo_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/iuvo_logo"
        android:theme="@style/Theme.Iuvo" >
        <activity
            android:name="com.helloruiz.iuvo.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.helloruiz.iuvo.GroupsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_groups"
            android:parentActivityName="com.helloruiz.iuvo.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helloruiz.iuvo.MainActivity" />
        </activity>
        <activity
            android:name="com.helloruiz.iuvo.SemestersActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_semesters"
            android:parentActivityName="com.helloruiz.iuvo.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helloruiz.iuvo.MainActivity" />
        </activity>
        <activity
            android:name="com.helloruiz.iuvo.CourseActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_course"
            android:parentActivityName="com.helloruiz.iuvo.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helloruiz.iuvo.MainActivity" />
        </activity>
        <activity
            android:name="com.helloruiz.iuvo.CoursesActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_courses"
            android:parentActivityName="com.helloruiz.iuvo.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helloruiz.iuvo.MainActivity" />
        </activity>
        <activity
            android:name="com.helloruiz.iuvo.help.AboutActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.helloruiz.iuvo.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helloruiz.iuvo.MainActivity" />
        </activity>
        <activity
            android:name="com.helloruiz.iuvo.help.BackupActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_backup"
            android:parentActivityName="com.helloruiz.iuvo.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helloruiz.iuvo.MainActivity" />
        </activity>
        <activity
            android:name="com.helloruiz.iuvo.help.SemestersHelpActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_semesters_help"
            android:parentActivityName="com.helloruiz.iuvo.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helloruiz.iuvo.MainActivity" />
        </activity>
        <activity
            android:name="com.helloruiz.iuvo.help.GroupsHelpActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_groups_help"
            android:parentActivityName="com.helloruiz.iuvo.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helloruiz.iuvo.MainActivity" />
        </activity>
        <activity
            android:name="com.helloruiz.iuvo.help.CourseHelpActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_course_help"
            android:parentActivityName="com.helloruiz.iuvo.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helloruiz.iuvo.MainActivity" />
        </activity>
        <activity
            android:name="com.helloruiz.iuvo.help.CoursesHelpActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_courses_help"
            android:parentActivityName="com.helloruiz.iuvo.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helloruiz.iuvo.MainActivity" />
        </activity>
        <activity
            android:name="com.helloruiz.iuvo.SemesterActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_semester"
            android:parentActivityName="com.helloruiz.iuvo.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helloruiz.iuvo.MainActivity" />
        </activity>
        <activity
            android:name="com.helloruiz.iuvo.CoursesActivitySemester"
            android:label="@string/title_activity_courses_activity_semester"
            android:parentActivityName="com.helloruiz.iuvo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helloruiz.iuvo.MainActivity" />
        </activity>
    </application>

</manifest>